commands:
  01_update:
    command: sudo apt-get update
  02_install_mysql:
    command: echo "mysql-server mysql-server/root_password password password" | sudo debconf-set-selections && echo "mysql-server mysql-server/root_password_again password password" | sudo debconf-set-selections && sudo DEBIAN_FRONTEND=noninteractive apt-get install -y mysql-server
container_commands:
  01_start_mysql:
    command: sudo systemctl start mysql
  02_enable_mysql:
    command: sudo systemctl enable mysql
  03_create_database:
    command: echo "CREATE DATABASE IF NOT EXISTS quicktable;" | mysql -uroot -proot