<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Welcome To QuickTable</title>
</head>
<body>
    <header class="index-header">
        <h1>QuickTable</h1>
    </header>
    <main>
        <section>
            <h1 class="big-title-head">
                Quick <img src="assets/noun-table-2967586.svg" class="inline-img" alt="">able
            </h1>
        </section>
        <section></section>
    </main>
</body>
</html>