
@import url(../Montserrat/Montserrat-VariableFont_wght.ttf);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
.index-header {
    background-color: #3b3333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 70px;
    width: 100%;
}
.big-title-head {
    color: #3b3333;
    font-size: 100px;
}
.inline-img {
    height: 170px;
    display: inline-block;
    transform: translateY(45px);
    color: #3b3333 !important;
}